.navbar-brand:hover,
.navbar-brand:visited {
    color: white !important;
    text-decoration: none !important;
}

.card-body {
  display: flex;
  flex-direction: column;   
}

.card-body .card-title {
  flex-shrink: 0;       
}

.card-body .mb-1,
.card-body .mb-3,
.card-body .d-flex {
  flex-shrink: 0; 
}

.card-body .bottom-section {
  margin-top: auto;  
}

.add-list-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-list-card:hover,
.list-card:hover {
  background-color: #dde2e3;
  border-radius: 0.3rem;
}


.add-list-icon {
  font-size: 4em;
  color: #7F8C8D;
}
